body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    display: flex;
    overflow-x: hidden;
}

.weather-head{
    background-color: #F8F5F5;
    width: 25vw;
    height: 100vh;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;


    .search-bar{
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 0.5rem;
        height: auto;
        padding: 24px;
        width: 100%;

        input{
            border-radius: 24px;
            padding-left: 16px;
            outline: none;
            border: none;
            width: 60%;
            height: 24px;
            border: 1px solid #0B74D5;
        }


        .search-icon{
            width: 24px;
    
        }
    }


    .today-weather{
        width: 80%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: linear-gradient(45deg, #0B74D5 , #5DACF5);
        border-radius: 16px;
        
        p{
            margin: 4px;
            color: whitesmoke;
            font-size: 18px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .temperature{
            font-size: 24px;
            font-weight: 700;
            margin-top: 0;
        
        }

        .city-name{
            border-bottom: 1px solid white;
        }



        img{
            width: 64px;
        }

        .today-weather-title{
            margin-top: 18px;
            font-size: 32px;
            font-weight: 700;
        }
    }
}


.weather-detail{
    width: 75vw;
    background-image: linear-gradient( 45deg, #c9e7f7,#F5F7F8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        text-align: center;
        font-size: 2.5rem;
        padding: 0;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .weather-sequences{
        margin-top: 18px;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 12px;

        .weather-sequence{
            background-color: whitesmoke;
            border-radius: 12px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 6rem;
            height: 8rem;
        
            
        }
    }


    .today-highlight{
        width: 90%;
        height: 180px;
        background-color: #808080;
        margin-top: 32px;
        border-radius: 12px;


        span{
            padding-left: 32px ;
            color: #F5F7F8;
            font-size: 24px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }
    }

    .google-map{
        width: 70%;
        height: 24rem;
        background-color: #0B74D5;
        justify-self: start;
        align-self: flex-start;
        margin-left: 5rem;
        margin-top: 32px;
        border-radius: 12px;

        iframe{
            width: 100%;
            height: 100%;
        }
    }

}